# error

Ошибся при создании ссылки:
`<a href="http://https://www....."></a>`

И не пойму, почему с GitLab Pages по ней открываются вот [такие странички](https://i.imgur.com/uoGLZ57.png)?

https://hashing24.com/ru/start-bitcoin-mining-today/?a=h24vol-wj4i8ghaebi5i9p72geiuc30
https://thelastpicture.show/

...

При этом, при открытии такйо ссылки без хостинга, она открывается вполне нормально.
<a href="https://www.livelib.ru/quote/42607589-ob-iskusstve-sbornik-pol-valeri">Подробнее на livelib.ru:</a>

<a href="http://https://www.livelib.ru/quote/42607589-ob-iskusstve-sbornik-pol-valeri">Подробнее на livelib.ru:</a>



